$dark: #234361;
$default: #425A70;
$muted: #66788A;

@mixin heading-style($weight, $font_size, $line_height, $margin_top, $letter_spacing, $text_color) {
  font-weight: $weight;
  font-size: $font_size;
  line-height: $line_height;
  margin-top: $margin_top;
  letter-spacing: $letter_spacing;
  color: $text_color;
}

.heading {
  font-family: "SF Pro Display",  sans-serif;
  padding: 0;

  &--level-900 {
    @include heading-style(900, 35px, 40px, 52px, -0.24px, $default);
  }

  &--level-800 {
    @include heading-style(800, 29px, 32px, 40px, -0.24px, $dark);
  }

  &--level-700 {
    @include heading-style(700, 24px, 28px, 28px, -0.06px, $dark);
  }

  &--level-600 {
    @include heading-style(600, 20px, 24px, 24px, -0.06px, $dark);
  }

  &--level-500 {
    @include heading-style(500, 16px, 20px, 16px, -0.05px, $dark);
  }

  &--level-400 {
    @include heading-style(400, 14px, 20px, 16px, -0.05px, $dark);
  }

  &--level-300 {
    @include heading-style(300, 12px, 16px, 16px, 0px, $dark);
  }

  &--level-200 {
    @include heading-style(200, 12px, 16px, 16px, 0px, $muted);
  }

  &--level-100 {
    @include heading-style(100, 11px, 16px, 16px, 0.3px, $muted);
    text-transform: uppercase;
  }
}
